.logo-container {
  z-index: 0;
  width: 400px;
  height: 600px;
  position: absolute;
  top: 0;
  right: 15%;
  left: auto;
  margin: auto;
}
.solid-logo {
  z-index: 0;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 15%;
}
